<!--Header-->
<nav role="navigation" class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a href="#" class="navbar-brand">Jogging tracker</a>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="">Home</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="" ng-click="logout()">Logout, {{username}} ?</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <!-- Add new entry-->
    <div class="col-md-3">
        <form>
            <datepicker ng-model="date" show-weeks="true"></datepicker>
            Distance: <input type="number" ng-model="distance" class="form-control">
            Time: <input type="number" ng-model="time" class="form-control">
            <button class="btn btn-default" ng-click="addEntry()">Add</button>
        </form>
    </div>

    <!-- Filter and list all entries-->
    <div class="col-md-6">
        <!-- Filter -->
        Mininum date:
        <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate"
                   is-open="startDateOpened" ng-focus="openStartDate($event)"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i
                class="glyphicon glyphicon-calendar"></i></button>
      </span>
        </p>

        Maximum date:
        <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate"
                   is-open="endDateOpened" ng-focus="openEndDate($event)"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i
                class="glyphicon glyphicon-calendar"></i></button>
      </span>
        </p>
        <p class="input-group">
            <button class="btn btn-default" ng-click="clearDate()">Clear date</button>
        </p>

        <!-- List all entries-->
        <div ng-repeat="entry in getDates()" class="alert alert-info">
            <p>Date: {{entry.date | date:'yyyy-MM-dd'}}</p>

            <p>Distance: {{entry.distance}} km</p>

            <p>Time: <input type="number" ng-readonly="!entry.writable" ng-model="entry.time"> minutes</p>

            <p>Average speed: {{60 * entry.distance / entry.time | number:2}} km/h </p>

            <button class="btn btn-danger" ng-click="deleteEntry(entry)">Delete</button>
            <button class="btn btn-warning" ng-click="makeEntryEditable(entry)">
                {{entry.editModeText || "Edit"}}
            </button>
        </div>
    </div>

    <div class="col-md-3">
        <div ng-repeat="stat in stats" class="alert-success">
            <p> Week: {{stat.startDate | date:'yyyy-MM-dd'}} - {{stat.endDate| date:'yyyy-MM-dd'}} </p>

            <p> Average speed: {{60 * stat.averageSpeed}} km/h </p>

            <p> Average distance: {{stat.averageDistance}} km </p>
        </div>
    </div>
</div>