<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            {{error_message}}
            <form class="form-login">
                <h4>Registration</h4>
                <input type="text" ng-model="username" class="form-control input-sm chat-input" placeholder="username"/>
                </br>
                <input type="text" ng-model="password" class="form-control input-sm chat-input" placeholder="password"/>
                </br>
                <button class="btn btn-default" ng-click="register()">Register</button>
                <button class="btn btn-default" ng-click="goToLogin()">Login</button>
            </form>
        </div>
    </div>
</div>